process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.33--e3576ddf588fa00d' } }
process { withName: 'NACHO_NORMALIZE' { container = 'oras://community.wave.seqera.io/library/r-base_r-dplyr_r-fs_r-ggplot2_pruned:390d625a6878bfac' } }
process { withName: 'NACHO_QC' { container = 'oras://community.wave.seqera.io/library/r-base_r-dplyr_r-fs_r-ggplot2_pruned:390d625a6878bfac' } }
