process { withName: 'NACHO_NORMALIZE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/43/43e3f488da4c74d940f7f920a0be6c8d238e586ee14e7e08c24d6a8b4f682a1c/data' } }
process { withName: 'NACHO_QC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/43/43e3f488da4c74d940f7f920a0be6c8d238e586ee14e7e08c24d6a8b4f682a1c/data' } }
